.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 30px;
}

.title {
  padding-bottom: 20px;
  color: goldenrod
}

.message {
  margin-top: 20px;
  font-size: 25px;
  color: lightcoral
}

#searchBtn {
  text-transform: uppercase;
  font: ubuntu;
  font-weight: 500;
  background: rgb(182, 205, 255);
  color: black
}

#searchBtn:hover {
  background:  rgb(13, 70, 193);
  color: white;
}

.filterBtn {
  background: rgb(182, 205, 255);
  text-align: center;
  font: ubuntu;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 20px;
}

.active, .filterBtn:hover {
  background:  rgb(13, 70, 193);
  color: white;
}

.result {
  padding-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
  list-style: none;
}

@media only screen and (max-width: 1030px) {
  /* For large tablets */
  .result {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 768px) {
  /* For small tablets */
  .result {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 415px) {
  /* For large mobile phones: */
  .result {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 375px) {
  /* For small mobile phones: */
  .result {
    grid-template-columns: auto;
  }
}